header {
    background-color: rgba(28, 30, 31, 0.94);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.profile-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 3px;
    aspect-ratio: 1;
}

.relationship {
    color: #a0a0a0;
}
