line {
    stroke: #dfdfdf;
    stroke-width: 2px;
    stroke-linecap: square;
    pointer-events: none;
}

line.incomplete {
    stroke-dasharray: 1 8 2 7 5 5 15 4 100%;
    stroke: #8b8f93;
    stroke-width: 1px;
}