header {
    background-color: rgba(28, 30, 31, 0.94);
    border-bottom: 1px solid #495054;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.name {
    font-size: 1.3rem;
    color: white;
    padding: 0 6px;
    max-width: 450px;
    box-sizing: border-box;
}

.metadata-row {
    flex-grow: 1;
    display: flex;
    gap: 20px;
}

.metadata {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 2px 16px;
}

.metadata span {
    color: #ccc;
    font-weight: bold;
}