.root {
    background-color: rgba(28, 30, 31, 0.94);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: min(420px, 100%);
    box-sizing: border-box;
    float: right;
    pointer-events: all; /* parent is pointer-events: none */
}

.name {
    font-size: 1.1rem;
    padding: 0 6px;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #3a3d3fab;
    padding-bottom: 10px;
}

.metadata-row {
    flex-grow: 1;
    display: flex;
    gap: 20px;
}

.metadata {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 2px 16px;
}

.metadata span {
    color: #ccc;
    font-weight: bold;
}