header {
    background-color: #1c1e1f;
    border-bottom: 1px solid #495054;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.name {
    font-size: 1.3rem;
    color: white;
    padding: 0 6px;
}

.close-button {
    background: none;
    border: none;
    align-self: baseline;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.metadata-row {
    flex-grow: 1;
    display: flex;
    gap: 20px;
}

.metadata {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 2px 16px;
}

.metadata span {
    color: #ccc;
    font-weight: bold;
}