.frame-root {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* top-level blocks and rows only */
.frame-root > :is(.kv-block, .kv-table-row) {
    border: 1px solid rgb(68, 73, 76);
}

.frame-root > .kv-block {
    background-color: rgb(68, 73, 76);
}

.kv-block summary {
    cursor: pointer;
    display: flex;
}

.kv-block[open] > summary > .kv-table-row {
    margin-bottom: 1px;
}

.label-value-wrapper {
    display: flex;
    row-gap: 5px;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 0;
    align-items: center;
}

.label {
    font-weight: bold;
    white-space: nowrap;
    cursor: inherit;
    flex-shrink: 0;
    pointer-events: none;
    min-width: 99px;
    color: rgb(205, 213, 216);
    font-family: monospace;
    font-size: 0.9rem;
}

.label::before {
    margin-right: 5px;
    font-family: sans-serif;
    width: 19px;
    display: inline-block;
    line-height: 1rem;
}

.kv-block > summary .label::before {
    content: '▼ ';
}

.kv-block:not([open]) > summary .label::before {
    content: '▶ ';
}

.label-value-wrapper .label + * {
    margin-left: 24px;
}

.kv-block .content {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.kv-table-row {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    background-color: rgb(42, 45, 47);
}

.depth-marker {
    width: 17px;
    border-right: 2px solid rgb(68, 73, 76);
    flex: 0 0 auto;
}

.kv-table-row input {
    flex-grow: 1;
}

.kv-table-row partial-date-picker {
    flex: 1 1 auto;
    min-width: 0;
}

.kv-table-row button {
    display: flex;
    cursor: pointer;
    background: none;
    justify-content: center;
    align-items: center;
    border: none;
    height: 100%;
}

.kv-table-row button img {
    width: 14px;
}

.kv-table-row button span {
    font-size: 0.7rem;
}

select {
    height: 27px;
}

.linked-metadata-sprite {
    height: 20px;
    margin-left: auto; /* justifies to end of container */
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .label-value-wrapper {
        display: grid;
        grid-template-areas:
            'label delete-button'
            'value value';
    }

    .kv-table-row button img {
        width: 12px;
    }

    .kv-table-row button span {
        font-size: 0.8rem;
    }

    .edit-value-input {
        grid-area: value;
    }

    .label-value-wrapper .label + * {
        grid-area: value;
    }
}