.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.under-construction-bar {
    background: repeating-linear-gradient(-50deg, var(--black) 0px, var(--black) 20px, var(--yellow) 20px, var(--yellow) 40px);
    --black: #222;
    --yellow: #ffff53;
    flex: 0 0 16px;
    height: 16px;
}