:is(:host, :root) {
    font-family: 'Spline Sans';
    color-scheme: dark;
    color: white;
    line-height: 1.4rem;
    word-break: break-word;
}

.root > svg {
    background-color: #1f2325;
    width: 100%;
    height: 100%;
}

input, textarea {
    padding: 8px 12px;
    background-color: #242728;
    border: 1px solid #495054;
    border-radius: 4px;
    color: #d3d9da;
    appearance: textfield;
}

select {
    color-scheme: dark;
}

label {
    font-size: 0.9rem;
    color: #8f979b;
    font-family: 'Martian Mono';
    letter-spacing: -0.088em;
    line-height: 15px;
    font-size: 0.8rem;
    font-weight: 543;
}
